

<article class="row">
    <div class="col-2 py-2">
      <p class="white-text  ">{{review.rating}}</p>
    </div>
    <div class="col-5 py-2">
      <p class="white-text  ">{{review.review}}</p>
    </div>
    <div class="col-2  py-2">
      <p class="white-text  ">{{review.user}}</p>
    </div>
    <div class="col-2  py-2">
        <p class="white-text  ">{{review.created_at}}</p>
      </div>

    <hr class="hr hr-blurry pb-1" />
    {% if review.image %}
    <img class="img-fluid review-img" src="{{ review.image.url }}">
    {% else %}
      <p>No image.</p>
    {% endif %}
  
  </article>
  