{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- Custom styles for this template -->
<link href="{% static 'css/profile.css' %}"" rel=" stylesheet">
<main class="form-signin dark">

  <form method="post">
    <a href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z">
        </path>
      </svg>
    </a>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    {% csrf_token %}
    <div class="form-floating">
      <input type="text" class="form-control dark-input" placeholder="username" name="{{form.username.name}}"
        id="{{form.username.id_for_label}}">
      <label for="floatingInput">User Name</label>
    </div>

    <div class="form-floating pt-2">
      <input type="password" class="form-control dark-input" placeholder="name@example.com" name="{{form.password.name}}"
        id="{{form.password.id_for_label}}">
      <label for="floatingInput">password</label>
    </div>
    
    <button type="submit" class=" w-100 btn btn-lg btn-primary">Log in</button>
    <p class="mt-2 mb-3">If you don't have an account, <a href="{% url 'signup' %}">Registe</a> here!</p>

  </form>

</main>

{% endblock %}