{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container" style="overflow:auto;">

  <div class="main-content d-block container my-5" style="overflow:auto;">
    <div class="px-4 my-5 ">
      <h1>
        <small>We have found </small>
        {{ recipe_count }}
        <small> Recipes </small>
      </h1>
      <p class="lead ">Discover the best recipes for delicious and satisfying meals with the world’s most popular recipe
        app. You will find everything you need to prepare food that everyone loves, from easy instructions to helpful
        tips.</p>
    </div>
    <div class="search-form mb-5 mx-5">
      {% include 'search_form.html' %}
    </div>
  </div>
  <div class="sub-content d-block container mb-5 pb-5">
    <div class="row recipe-content py-5">
    {% for recipe in recipes|dictsort:"name" %}
    <div class="col recipe-card col-sm-12 col-md-6 col-lg-4 ">
      <section class="card dark-card">
        <img class="card-img-top img-fluid " src="{{recipe.image.url}}" alt="{{ recipe.image.name }}" width="300"
          height="100" />
        <div class="card-body">
          <h4 class="card-title">{{ recipe.name }}</h4>
          <p class="card-text">
          <div class="d-inline py-2 ">Serves: {{ recipe.serves }}</div>
          <div class="d-inline py-2 ">Difficulty: {{ recipe.difficulty }}</div>
          <div class="d-inline py-2 ">Time: {{ recipe.timetoprepare }}</div>
          <div class="intro py-3 ">{{ recipe.intro|slice:':150' }}...</div>
          <a href="{% url 'view_recipe' recipe.id %}" class="btn btn-primary">lets cook it!</a>
        </div>
      </section>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <nav aria-label="Page navigation ">
      <ul class="pagination pt-3 justify-content-center">
        <li class="page-item ">
          {% if recipes.has_previous %}
          <a class="page-link" href="?page={{ recipes.previous_page_number }}" tabindex="-1">Previous</a>
          {% endif %}
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Page {{ recipes.number }} of
            {{recipes.paginator.num_pages }}</a>
        </li>
        <li class="page-item">
          {% if recipes.has_next %}
          <a class="page-link" href="?page={{ recipes.next_page_number }}">Next</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
  </div>
</div>
<script>
  // this function select a rendom string from an array and send it to the html pag to display it 
  function randomString() {

    var beforeStr = ["Trying to find a tasty", "looking for your next delicious", "seeking your upcoming delectable", "searching for your upcoming delectable", "searching for your upcoming tasty",];
    var recipeStrings = [" Dinner?", " Launch?", " Breakfast?", " Desert?", " Drink?", " Cake?"]; // array of strings 
    var randomBeforeStr = beforeStr[Math.floor(Math.random() * beforeStr.length)]; // select a random string from the array
    var randomRecipeStrings = recipeStrings[Math.floor(Math.random() * recipeStrings.length)]; // select a random string from the array
    var afterStr = " what do you desire?"; // string to add to the end of the random string
    serachString = randomBeforeStr + randomRecipeStrings + afterStr; // add the random string and the after string to one string
    //display randomstring in #search_field id 
    console.log(serachString);
    document.getElementById("search-field").placeholder = serachString;


  }
  randomString(); // call the function to display the random string
</script>

{% endblock %}